/* General
    ============================================================== */

/* Fonts */

@font-face {
    font-family: 'Mohave';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Mohave Regular'), local('OpenSans-Bold'), url(../font/Mohave-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Mohave';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Mohave Bold'), local('Mohave-Bold'), url(../font/Mohave-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto Regular'), local('OpenSans-Bold'), url(../font/Roboto-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold'), local('Mohave-Bold'), url(../font/Roboto-Bold.woff2) format('woff2');
}

:root {
    --primary-color: #000028 ;
    --primary-color-rgb: 0, 0, 40;
    --secondary-color: #ff2a6d;
    --secondary-color-rgb: 255, 42, 109;
    --terciary-color: #005678;
    --terciary-color-rgb: 0, 86, 120;
}

html {
    font-size: 16px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    color: #0a1417;
}

/* Header
    ============================================================== */
.header__content { 
    width: 100%;
    height: 90px;
    display: flex;
    padding: 0px 30px;
    background-color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    width: 100%;
    height: auto;
    max-width: 690px;
    display: flex;
    color: var(--secondary-color);
    font-size: 1rem;
    justify-content: space-between;
}

.header__links {
    text-transform: uppercase;
    font-family: 'Mohave';
    font-weight: 700;
}

.header__button {
  position: relative;
  width: 150px;
  height: 40px;
  line-height: 20px;
  display: inline-block;
}

#header__shape {
  stroke-width: 5px;
  fill: transparent;
  stroke: var(--terciary-color);
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}

#header__text {
  margin-top: -35px;
  text-align: center;
}

.header__button #header__text span { 
    color: var(--terciary-color);
    transition: 1s all;
}

.header__button:hover #header__shape {
  stroke-dasharray: 75 0;
  stroke-width: 3px;
  stroke-dashoffset: 100;
  stroke: var(--secondary-color);
}

.header__button:hover #header__text span { 
    color: var(--secondary-color); 
}

/* Who
    ============================================================== */
.who__top {
    width: 100%;
    height: 500px;
    display: flex;
    background: url(../img/who-bg.png) top center repeat;
}

.who__description {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.who__title {
    width: auto;
    height: auto;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Mohave';
    font-size: 3.5rem;
    display: inline-block;
}

.who__subtitle {
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    padding: 1rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.who__btn{
    width: 100%;
    height: 40px;
    max-width: 260px;
    margin-top: 3rem;
    position: relative;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: 0px;
    line-height: 40px;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Mohave';
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}

.who__btn:hover {
    transition-duration: 0.1s;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.who__btn:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 10px;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px var(--secondary-color);
}

.who__btn:active:after {
    box-shadow: 0 0 0 0 var(--secondary-color);
    position: absolute;
    border-radius: 10px;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
}

.who__btn:active {
    top: 1px;
}





